* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Open Sans";
    src: url("../open_sans/OpenSans_Condensed-Medium.ttf") format("ttf");
}

body {
    font-family: "Open Sans", sans-serif;
}


header {
    width: 100%;
    height: 70px;
    margin-bottom: 38px;
    background: #c4c4c4;
    opacity: 75%;
/*    padding-left: 175px;
    padding-right: 115px;*/
}

.head h1 {
    font-size: 40px;
    width: 33%;
    text-align: center;
    line-height: 70px;
}

.head {
    width: 1025px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.input-wrap {
    width: 295px;
    height: 45px;
    border: 1px solid #000000;
    position: relative;
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 14px;
    padding-left: 35px;
}

.icon-search {
    position: absolute;
    top: 9px;
    left: 3px;
    font-size: 26px;
}



/*========================= Main =============*/

.main_info {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    margin: 0 auto;
    width: 1025px;
    height: 939px;
    margin-bottom: 183px;
}


img {
    width: 294px;
    height: 301px;
}

.product_info {
    width: 294px;
    height: 446px;
    background: #f4f5f7;
    position: relative;
    margin-right: 70px;
}

.product_info:hover {

}

.product_info:hover .product_img:before {
    content: "";
    display: block;
    background: #c8a4a48c;
    width: 100%;
    height: 301px;
    position: absolute;
    top: 0;
    left: 0;
}

.product_info:nth-child(3n) {
    margin-right: 0;
}

.product_info h4 {
    margin: 16px 0 0 16px;
}

.product_info h5 {
    margin: 8px 0 0 16px;
    color: #898989;
}

.new_price .old_price {
    margin: 8px 0 0 16px;
    width: 50%;
}

.old_price {
    text-decoration: line-through;
    color: #b0b0b0;
}

.price {
    display: flex;
    justify-content: space-between;
    margin: 8px 35px 0 16px;
}

/*=============================== Main Second ===================*/


.property {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    position: relative;
}

.red {
    position: absolute;
    background: #e97171;
    top: 5%;
    right: 7%;
    line-height: 48px;
}

.green {
    position: absolute;
    background: #2ec1ac;
    top: 5%;
    right: 7%;
    line-height: 48px;
}

.yellow {
    position: absolute;
    background: #ead836;
    top: 5%;
    right: 7%;
}

.yellow {
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

.blue {
    position: absolute;
    background: #2ec1ac;
    top: 5%;
    right: 7%;
    line-height: 48px;
}

.pingky {
    display: block;
    position: relative;
}

.pingky .pingky_bg {
    position: absolute;
    width: 294px;
    height: 301px;
    top: 0;
    right: 0;
}

.pingky_bg:hover {
    content: "";
    position: absolute;
    width: 294px;
    height: 301px;
    top: 0;
    right: 0;
    background-color: #c8a4a48c;
    z-index: 9;
}

/*====================== Footer =====================*/

footer {
    width: 100%;
    height: 70px;
    background: #c4c4c4;
    opacity: 75%;
}

.footer_line {
    width: 1025px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    margin: 0 auto;
}

.footer_menu {
    width: 50%;
}

.footer_menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_menu li {
    display: inline-block;
    list-style: none;
    font-size: 18px;
    line-height: 70px;
}

.copyright {
    display: inline-block;
    position: absolute;
    width: 35%;
}

.copyright p {
    margin: 0 auto;
    font-size: 18px;
}
